.header-section-wrapper {
    background-image: url(Object.png); 
    background-size:cover;
    background-position:50%; 
    background-repeat: no-repeat; 
    margin: auto;
     }


header {
   
    color: #fff; 
    padding: 10px 20px; 
}



header nav {
    display: flex; 
    justify-content: space-between;
    margin: 15px 150px;
}






header nav ul li {
    display: inline-block; /* Display links horizontally */
    margin-right: 30px; /* Space between links */
  
}

header nav ul li:last-child {
    margin-right: 0; /* Remove margin from last link */
}

header nav ul li a {
    color: #fff; /* Link text color */
    text-decoration: none; /* Remove underline */
    font-weight:bold; /* Bold text */
    font-size: 12px; /* Font size */
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
}

header nav ul li a:hover {
    color: #f0f0f0; /* Hover color */
}


.center {
   display: block;
   text-align: center;
   margin-top: 150px;
   color: #fff;
   font-family: 'Source Sans Pro', sans-serif;
}
.center h1 {
    font-size: 120px;
    font-weight: bold;
    margin-bottom: auto;
    
}

.center span {
    display: inline-block; /* Display links horizontally */
    margin-right: 40px; 
    font-size: 16px;
    font-weight: bold;
    text-align: center;

}
.center button {
    background-color: #c470ff; /* Example background color */
    color: white; /* Text color */
    margin-top: 20px;
    padding: 10px 20px; /* Padding for size */
    border: none; /* Remove default border */
    border-radius: 20px; /* Rounded corners */
    font-size: 14px; /* Font size */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease;  
               }
 .pros {
    
        display: block;
        text-align: center;
        margin-top: 200px;
        color: #fff;
        font-family: 'Source Sans Pro', sans-serif;
    
        }

.purpule {
    color: #b972fc;
    font-size: 32px;
    font-weight: bold;

 }

 .pro-img {
    display: flex; /* Enables flexbox layout */
    justify-content: center; /* Centers items horizontally */
    align-items: center; /* Centers items vertically */
    flex-wrap: wrap; /* Allows items to wrap to the next line if necessary */
    gap: 125px; /* Adds space between the items */
    height: 50vh; /* Example height to center vertically within the viewport */
}

.circle {
    border: none;
    border-radius: 50%;
}

.pro-img h3 {
    font-size: 18px;
    
}
.pro-img p {
    font-size: 16px;
    font-style: italic;
    font-weight:lighter ;
    padding:0;
}

.quote {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #c371ff;
    margin: 50px 0 50px 0;
    height: 392px;
}
.quote-txt {
   
    color: #fff;
}

.quote-txt blockquote {
    font-size: 22px;
    
    font-weight: lighter;

}
.quote-txt h3{
    font-size: 22px;
    font-weight: bold;
    
}

.quote-txt  p {
    font-size: 22px;
    font-weight: lighter;
    font-style:italic;
}

.tutorials {
    width: 1228px;
    height: 450;
    margin: 60px auto 0 auto;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    font-family: 'Source Sans Pro', sans-serif;
    gap: 60px;

}

#video {
    display: flex;
    padding-top: auto;
    gap: 30px;

}

.tutorials h2 {
    font-size: 32px;
    font-weight:lighter;
    margin: 0%;
    font-family: 'Source Sans Pro', sans-serif;
}
.img {
    position: relative;
    width: 255px;  
    height: 154px; 
}

.play-button {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 64px;
    height: 64px;
    cursor: pointer;
 
}

.tutorials h3 {
    font-size: 16;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
}

.tutorials p {
    font-size: 14px;
    font-weight:lighter;
    width: 242px;
    font-family: 'Source Sans Pro', sans-serif;
}
.small {
    height: 30px;
    width: 30px;
   
}

#inline {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.tutorials h4 {
   
    font-size: 14;
    font-weight:bold;
    color: #dd91ff;
    margin-left: -0.2px;
    margin-top: 8px;
    padding-left: auto;
    line-height: 1.2;
    font-family: 'Source Sans Pro', sans-serif;
    
}
#in {
    display: flex;
    flex-direction: row;
    
}
 #in p {
    font-size: 14;
    font-weight:bold;
    color: #dd91ff;
 
    margin-top: auto;
    padding-left: auto;
    font-family: 'Source Sans Pro', sans-serif;
    
    
    
    
 }
#in img {
    height: 15px;
    width: 107px;

}

.membership {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #081628;
    margin: auto;
    background-position:100%; 
    height: 502px;
    
    color: #fff;
}
   
 .free {
    display: flex;
    flex-direction: row;
    padding-top: auto;
    margin-top: auto;
    

 }   
 #padding{
    font-size: 32;
    margin: auto;
    padding-top: auto;

 }


 .foot {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #081628;
    height: 249px;
    margin: auto;
 }

 .foot p {
    color: #fff;
 }