body {
    display: flex;
    flex-direction: column;

}
main {
    display: flex;
    flex-direction: row;
    flex: auto;
}
 article {
  flex: 2;
  overflow-y: auto;
  text-transform:capitalize;
}
aside {
    flex: 1;
    overflow-y: auto;
    font-size: large;
}
    

/* Default styles for nav links */
.nav_var a {
    color:#3a5ff2;
    
}

.nav a {
    color: #3a5ff2;
    
}
footer a {
    color: #3a5ff2;
}

a {
    color: #3a5ff2;
  
}

span {
    color: #3a5ff2;;
   
}

h1 {
    font-size: 30px;
}
h2 {
    font-size: 26px;
}
h3 {
    font-size: 24px;
}


table {
    width: 100%;
    border-collapse: collapse;
}


th, td {
    border: 1px solid black; 
    padding: 8px;            
    text-align: left;        
}


th {
    background-color: #f2f2f2; 
    font-weight: bold;         
}

:root {
  --my-color:#4842f5;
}
.logo {
    font-size: 2em;
    color: var(--my-color);
    margin-right: 20px; /* Space between logo and other nav items */
    font-style:initial;
}

img {
   
    box-shadow: 10px 5px 10px 5px #4d5a66;
    max-width: 100%;
    display: block;
    height: auto;
    width: auto;
  

}
caption {
    margin-top: 30px;
    margin-bottom: 15px;
    text-decoration: underline;
}
p::first-letter {
    font-size: 1.5rem;
    font-weight: bold;
    color: #3a5ff2;
  }
  
  h1 + p::first-letter {
    color: #3a5ff2;
    background-color: white;
    border-radius: 2px;
    box-shadow: 3px 5px 10px 3px #3a5ff2;
    font-size: 250%;
    padding: 6px 3px;
    margin-right: 6px;
    float: left;}
  

    
   